<div class="d-flex justify-content-center my-5 py-5">
    <form [formGroup]="loginform" (ngSubmit)="login()">
        <h5 class="h5 pb-2">Login</h5>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input formControlName="email" type="email" class="form-control" id="">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input formControlName="pass" type="password" class="form-control" id="">
          </div>
        </div>
        
      
        <button type="submit"  class="btn btn-primary">Sign in</button>
      </form>
</div>


