.welcome{
    height: 100vh;
    width: 100%;
    background: url("../../../assets/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
    

.procced{
    font-size: 2rem;
    
}

.brown{
    color: #080705;
}