<div class="m-5 h2">
    <table class="table table-success table-striped border border-2 rounded rounded-3">
        <tbody>
        <tr>
            <td>ID :</td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{name | uppercase}}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{price | currency:'USD'}}</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>{{category}}</td>
        </tr>
        <tr>
            <td>Model no:</td>
            <td>{{model}}</td>
        </tr>
        <tr>
            <td>Release date:</td>
            <td>{{release_date|date:'mediumDate'}}</td>
        </tr>
        <tr>
            <td>Stock Units:</td>
            <td><div *ngIf="units > 10;">
                <span style="color: rgb(27, 160, 27);">Availabe {{units}} left</span>
              </div>

              <div *ngIf="units <= 10 && units > 3;">
                <span style="color:rgb(235, 118, 15);">Only
                  {{units}} left </span>
              </div>

              <div *ngIf="units <= 3;">
                <span style="color:rgb(240, 82, 82);">Only
                  {{units}} left </span>
              </div>
                </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{desc}}</td>
        </tr>
    </tbody>
    </table>

    <button class="btn btn-warning " routerLink="/feature/product-list">
        <h4>Back</h4>
    </button>
</div>